VITE_API_BASE_URL=
VITE_API_HOME_PAGE_ENDPOINT=/content/home
VITE_API_SEARCH_ENDPOINT=/search
VITE_API_FAQ_ENDPOINT=/faq
VITE_API_SCHOOLS_ENDPOINT=/schools
VITE_API_TRUTH_ENDPOINT=/analytics/truth-aggregation
VITE_API_REGION_MAP_ENDPOINT=/regions/map
VITE_API_REGION_PROJECTS_ENDPOINT=/regions/projects
VITE_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiZGlsbXVyb2QwOSIsImEiOiJjbW1xb3JycTAweG93MnBzYjB3cDZhMzV4In0.Dnyxk7hkaurBQRWRfEp2cw
VITE_MAPBOX_STYLE_URL=mapbox://styles/dilmurod09/cmmqi1lxh000l01p81ct7g9op
